/*
  Globals
*/
html, body {
  padding: 0px;
  margin: 0px;
}

/*
  Basic page (grid) layout
*/
.page {
  display: grid;
  grid-template-columns: 20% 80%;
}

.page__healthcheck-sidebar {

}

.page__healthcheck-content {

}

/*
  Styles
*/
.healthcheck-chart {
  width: 300px;
  height: 300px;
  margin: 50px;
}

/*
  Healthcheck content
*/
.healthcheck-charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
